<h2>Movie Info Component</h2>

<div class="section">
  <div class="banner">
    <div class="wrapper">
      <img class="poster" src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}"/>
      <div class="info">
        <h1 class="movieTitle">{{movie.title}}</h1>
        <h3 class="movieInfo"><b class="movieInfoName">Genres: </b> {{movieString.genres}}</h3>
        <h3 class="movieInfo"><b class="movieInfoName">Production Country: </b> {{movieString.productionCountries}}</h3>
        <h3 class="movieInfo"><b class="movieInfoName">Spoken Languages: </b> {{movieString.spokenLanguages}}</h3>
        <h3 class="movieInfo"><b class="movieInfoName">Release Date: </b> {{movie.release_date}}</h3>
        <h3 class="movieInfo"><b class="movieInfoName">Runtime: </b> {{movie.runtime}}</h3>
        <h3 class="movieInfo"><b class="movieInfoName">IMDb link: </b><a _ngcontent-wkd-c45="" href="https://www.imdb.com/title/tt1634106" style="color: wheat;">tt1634106</a></h3>
      </div>
      <div class="infoOther">
        <div>
          <h4 class="movieInfoName">Status:</h4>
          <h1 class="movieTitle">{{movie.status}}</h1>
        </div>
        <div class="vote">
          <div class="voteInfo">
            <h4 class="movieInfoName">Vote Average:</h4>
            <h1 class="movieTitle">{{movie.vote_average}}</h1>
          </div>
          <div class="voteInfo">
            <h4 class="movieInfoName">Vote Count:</h4>
            <h1 class="movieTitle">{{movie.vote_count}}</h1>
          </div>
        </div>


      </div>
      
    </div>

  </div>
</div>