.layout {
  min-height: 100vh;
}

nz-header {
  position: fixed;
  width: 100%;
  .menuLink {
    text-decoration: none;
    font-size: 15pt;
  }
  .ant-menu-item-selected {
    background-color: transparent;
  }
}

.logo {
  width: 150px;
  float: left;
}

nz-content {
  padding: 0 5%;
  margin-top: 64px;
}

nz-footer {
  text-align: center;
}